body {
  background-color: #f8f9fa; /* Light background for the page */
}

.card {
  border-radius: 10px; /* Rounded corners */
  border: none; /* Remove border */
}

.card-body h2 {
  font-weight: bold; /* Bold title */
  color: #343a40; /* Dark color for title */
}

button.btn-primary {
  background-color: #007bff; /* Custom blue */
  border-color: #007bff;
}

button.btn-primary:hover {
  background-color: #0056b3;
}

.custom-padding {
  padding-left: 700px;
}
.movie-card {
  width: 22rem;
  height: 100%;
}

.movie-image {
  width: 100%;
  height: 250px; /* Set fixed height */
  object-fit: cover;
}
.movie-card .movie-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card .custom-font {
  display: inline-flex;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
}

.movie-card-buttons {
  display: flex;
  justify-content: space-around;
}
.movie-modal .modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.movie-modal img {
  object-fit: cover;
}
.watchlist-img-class {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}
